/*  Variable  */

:root {
    /*  COLORS */
    --primary-color: #FD6E0A;
    --bg: #FFF8F3;
    --white: #FFFFFF;
    --dark1: #181818;
    --dark2: #474747;
    --dark3: #757575;
}

/*  Reset Style */

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*  Global */

main {
    width: 1140px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    transform: scale(1.1, 1.1);
    transition: transform .5s ease;
}

/*  header and navigation style */

.header {
    background-color: var(--bg);
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left top;
}

.header:hover .banner-greeting {
    transform: translateX(25px);
    transition: transform .5s ease-out 0s;
}

.header:hover .banner-header {
    transform: translateX(25px);
    transition: transform .5s ease-out .5s;
}

.header:hover .banner-description {
    transform: translateX(25px);
    transition: transform .5s ease-out 1s;
}

.header:hover .banner-button {
    transform: translateX(25px);
    transition: transform .5s ease-out 1.5s;
}

.header:hover .banner-button-2 {
    transform: rotate(1turn) scale(1.1, 1.1);
    transition: transform .5s ease-out 2s;
}
/* 
.header:hover .banner-button-2:hover {
    transform: scale(1.2, 1.2);
} */


nav {
    display: flex;
    justify-content: space-between;
    padding: 51px 230px 0 226px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

.text-primary {
    color: var(--primary-color);
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    cursor: pointer;
    list-style: none;
}

nav li:not(:last-child) {
    color: var(--dark2);
    font-size: 20px;
    font-weight: 400;
    line-height: 27.24px;
}
nav li:not(:first-child) {
    margin-left: 50px;}

nav li button {
    background-color: var(--primary-color);
    color: var(--white);
    width: 150px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
}

/*  banner styles */

.banner {
    display: flex;
    align-items: center;
    margin: 0 226px;
}

.banner-content h3 {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
}

.banner-content h1 {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
}

.banner-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.banner-button {
    display: flex;
    margin-top: 30px;
}

.banner-button-1 {
    background-color: var(--primary-color);
    color: var(--white);
    width: 200px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
    border: none;
    border-radius: 5px;
    padding: 17px 18px;
    cursor: pointer;
}

.banner-button-2 {
    width: 160px;
    height: 64px;
    margin-left: 30px;
    padding: 18px 23px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--white);
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}



/*  about section style */

.about {
    margin: 130px 0px 130px 0px;
    background: var(--bg);
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: var(--dark1);
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
}

.section-description {
    text-align: center;
    margin-bottom: 30px;
}

.section-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
}

.section-info li {
    list-style: none;
}

/*  what I do style */

.do {
    align-items: center;
    margin-bottom: 130px;
}

.do-description {
    text-align: center;
    margin: 0 110px 50px;
}

.do-tech {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.tech-item {
    padding: 45px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.tech-title {
    margin: 30px 0 20px 0;
    font-size: 20px;
    font-weight: 700;
}

.tech-description {
    font-size: 16px;
    font-weight: 400;
}

/*  resume section style */

.resume-container {
    display: flex; 
    gap: 24px;
    margin-top: 113px;
}

.title-heading {
    color: var(--dark2);
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.title-info:not(:last-child) {
    border-bottom: 1px solid rgba(71, 59, 59, 0.5)
}

.info-detail {
    color: var(--dark2);
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    margin: 30px 0 10px 0;
}

.info-time {
    color: var(--dark3);
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.info-description {
    color: var(--dark3);
    margin: 20px 0 30px 0;
}

.resume-button {
    text-align: center;
    margin: 50px 0 113px 0;
}

/*  contact style added */

footer {
    background: var(--bg);
}

.contact {
    display: flex;
    gap: 100px;
    margin: 0 240px;
}

.contact-info {
    margin: 130px 0;
}

.info-link {
    text-decoration: none;
}
.info-link img {
    margin-right: 24px;
}

.contact .section-title {
    text-align: left;
}

.contact input[type="text"], input[type="email"], textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

.contact-description {
    margin-bottom: 30px;
}